
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: red;
    width: 50vh;
}

.App {
    max-width: 800px;
    margin: 0 auto;
}

.top-bar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    width: 365.5%;
}

.title {
    margin: 0;
}