
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #220033 0%, #00294e 100%);
    color: #fff;
    width: 50vh;
}

h1 {
    font-size: 3em;
    text-align: center;
}

.App {
    max-width: 1400px;
    margin: 0 auto;
}

.top-bar {
    background: radial-gradient(circle, #220033 0%, #00294e 100%);
    color: white;
    padding: 15px;
    text-align: center;
    width: 365.5%;
}

.title {
    margin: 0;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.featured-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.games-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.featured-game-box {
    text-align: center;
}

.featured-game-image {
    width: 400px;
    height: 400px;
}

.center-text {
    text-align: center;
}

body.home-page {
    overflow-y: auto; /* Enable vertical scrolling */
}