
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #220033 0%, #00294e 100%);
    color: #fff;
    width: 50vh;
}

h1 {
    font-size: 3em;
    text-align: center;
}

.App {
    max-width: 800px;
    margin: 0 auto;
}

.top-bar {
    background: radial-gradient(circle, #220033 0%, #00294e 100%);
    color: white;
    padding: 15px;
    text-align: center;
    width: 365.5%;
}

.title {
    margin: 0;
}
