.checkers-piece {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #fff;
}

.checkers-piece.r {
    background-color: red;
}

.checkers-piece.b {
    background-color: black;
}
