
.checkers-board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(8, 50px);
    width: 100%;
    max-width: 2400px;
    height: 100%;
    border: 1px solid #000;
    margin-left: 550px;
    margin-top: 50px;
}

.checkers-row {
    display: flex;
}

.checkers-square {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkers-square.light {
    background-color: #f0d9b5;
}

.checkers-square.dark {
    background-color: #b58863;
}